/* common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* color palette */
:root {
    --dark: #000000;
    --lightdark: #282828;
    --primarygrey: #7D7F84;
    --check: #ADFF2F;
    --lightprimary: #D2D2D2;
    --light: #FFFFFF;
}

/* #region utility */
body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--primarygrey);
    font-weight: 700;
}

li {
    list-style-type: none;
}

.row {
    display: flex;
}

.d_flex {
    display: flex;
}

.container_side_top {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.d_column {
    flex-direction: column;
}

.gap5 {
    gap: 5px;
}

/* colonne */
.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: calc(100% / 12 * 12);
}
/* #endregion utility */

/* #region debug */
/* debug sidebar */
.debug .logo,
.debug .side_nav,
.debug .playlist,
.debug .user {
    border: 1px solid;
    width: 90px;
}

.debug .logo {
    height: 50px;
}

.debug .side_nav {
    height: 70px;
}

.debug .playlist {
    height: 200px;
}

.debug .user_info {
    height: 50px;
}

/* debug main */
.debug .upgrade {
    border: 1px solid;
}

.debug .button {
    height: 20px;
    width: 100px;
    border: 1px solid;
}


.debug .navbar {
    border: 1px solid;
    width: 500px;
    height: 20px;
}
/* #endregion debug */

/* #region sidebar */
.sidebar {
    height: 100%;
    background-color: var(--dark);
    align-items: center;
    color: var(--primarygrey);
    justify-content: space-between;
    font-size: 10px;
}

.logo {
    width: 130px;
    padding: 1rem;
}

/* sezione navbar */
.side_functions {
    align-items: center;
}

.side_functions img {
    width: 20px;
}

/* sezione playlist */
.playlist_function {
    color: var(--primarygrey);
}

.create_playlist {
    align-items: center;
}

.fa-square-plus {
    font-size: 37px;
}

.new_playlist li {
    padding: 5px 0;
}
/* sezione user */
.app_dl img,
.user_name img {
    width: 15px;
}

.user_name img {
    background-color: var(--primarygrey);
    height: 20px;
    width: 20px;
    border-radius: 1rem;
}

.app_dl, .user_name {
    align-items: center;
}

.user_name {
    border-top: 1px solid var(--primarygrey);
}

.upgrade {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.navmenu {
    margin-top: 1rem;
    justify-content: center;
}

.player {
    width: 100%;
    height: 80px;
    border: 1px solid red;
}

.main_content {
    height: calc(100vh - 80px);
}

