/* common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* color palette */
:root {
    --dark: #000000;
    --lightdark: #282828;
    --primarygrey: #7D7F84;
    --check: #ADFF2F;
    --lightprimary: #D2D2D2;
    --light: #FFFFFF;
    --primaryback: #141922;
    --progressbar: #5A5A5A;
    --progressbar2: #C1C1C1;
}

/* #region utility */
body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 100vh;
}

.container {
    width: 95%;
    margin: auto;
}

.main_content {
    height: calc(100vh - 80px);
}

a {
    text-decoration: none;
    color: var(--primarygrey);
    font-weight: 700;
}

a:hover {
    color: var(--light);
}

li {
    list-style-type: none;
}

.row {
    display: flex;
}

.d_flex {
    display: flex;
}

.container_side_top {
    flex-direction: column;
    align-items: flex-start;
}

.d_column {
    flex-direction: column;
}

.gap5 {
    gap: 5px;
}

/* colonne */
.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: calc(100% / 12 * 12);
}
/* #endregion utility */

/* #region debug */
/* debug sidebar */
.debug .logo,
.debug .side_nav,
.debug .playlist,
.debug .user {
    border: 1px solid;
    width: 90px;
}

.debug .logo {
    height: 50px;
}

.debug .side_nav {
    height: 70px;
}

.debug .playlist {
    height: 200px;
}

.debug .user_info {
    height: 50px;
}

/* debug main */
.debug .upgrade {
    border: 1px solid;
}

.debug .button {
    height: 20px;
    width: 100px;
    border: 1px solid;
}


.debug .navbar {
    border: 1px solid;
    width: 500px;
    height: 20px;
}
/* #endregion debug */

/* #region sidebar */
.sidebar {
    height: 100%;
    background-color: var(--dark);
    padding-left: 15px;
    padding-right: 15px;
    color: var(--primarygrey);
    justify-content: space-between;
    font-size: 10px;
}

.logo {
    width: 130px;
    padding: 10px 0;
}

.logo_sm {
    display: none;
}

/* sezione navbar */
.side_functions {
    align-items: center;
    padding: 5px 0;
}

.side_functions img {
    width: 20px;
}

.lens, 
.library {
    filter: invert(80%) sepia(2%) saturate(112%) hue-rotate(336deg) brightness(85%) contrast(93%);
}

/* sezione playlist */
.playlist_function {
    color: var(--primarygrey);
}

.playlist h3 {
    padding-top: 15px;
    padding-bottom: 8px;
}

.create_playlist {
    align-items: center;
}

.fa-square-plus {
    font-size: 37px;
}

.new_playlist li {
    padding: 5px 0;
}
/* sezione user */
.app_dl img,
.user_name img {
    width: 15px;
}

.user_name img {
    background-color: var(--primarygrey);
    height: 20px;
    width: 20px;
    border-radius: 1rem;
}

.app_dl {
    padding-bottom: 10px;
}

.app_dl, .user_name {
    align-items: center;
}

.user_name {
    color: var(--light);
    padding: 15px 0 10px 0;
    border-top: 1px solid var(--primarygrey);
}
/* #endregion sidebar */

/* #region main section */
.content_selection {
    overflow-y: auto;
    background-color: var(--primaryback);
}

/* upgrade button */
.upgrade {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.283);
}

.upgrade_btn {
    color: var(--light);
    border: 1px solid var(--light);
    padding: 10px 40px;
    font-size: 13px;
    border-radius: 2rem;
}

.upgrade_action {
    padding-right: 10px;
}

.upgrade_action:hover {
    padding: 0;
}

.upgrade_btn:hover {
    font-size: 20px;
    padding: 20px 50px;
}
/* /upgrade button */

/* menu navigazione */
.navmenu {
    margin-top: 1rem;
    justify-content: center;
}

.navmenu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navmenu ul li {
    margin: 2%;
}

.navbar {
    font-size: 13px;
    width: 72%;
    justify-content: space-between;
}

.navbar li:first-child > a {
    border-bottom: 2px solid var(--check);
}
/* /menu navigazione */

/* album */
.album h3 {
    color: var(--light);
    padding: 20px 0;
}

.music {
    padding: 0 5px;
    text-align: center;
}

.for_you {
    padding-top: 40px;
}

#for_user {
    padding-top: 40px;
    padding-bottom: 5px;
}

.album h4 {
    color: var(--light);
    font-size: 13px;
    padding: 10px 0;
}

.album h5 {
    color: var(--primarygrey);
    font-size: 10px;
}

.round_img {
    border-radius: 50%;
}
/* /album */

/* bottom player */
.player {
    width: 100%;
    height: 80px;
    justify-content: space-between;
    background-color: var(--lightdark);
}

.player img {
    padding: 15px;
}

.album_details {
    justify-content: center;
}

.album_options {
    align-items: center;
    gap: 10px;
    padding-left: 50px;
    font-size: 20px;
}

.player_buttons i {
    font-size: 30px;
}

#song {
    color: var(--light);
    font-size: 13px;
}

#artist {
    font-size: 12px;
}

.control_middle {
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.player_buttons {
    justify-content: center;
    justify-content: space-evenly;
}

.player_time {
    align-items: center;
}

.player_time span {
    color: var(--light);
    font-size: 12px;
}

.time_bar {
    background-color: var(--progressbar);
    width: 100%;
    height: 3px;
    margin: 0 20px;
    border-radius: 10px;
}

.buffer {
    background-color: var(--progressbar2);
    width: 10%;
    height: 3px;
    border-radius: 10px;
}

.player_volume {
    align-items: center;
    width: 100%;
    gap: 20px;
}

.volume_bar {
    background-color: var(--progressbar);
    height: 3px;
    width: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

.volume_level {
    background-color: var(--progressbar2);
    height: 3px;
    width: 30px;
    border-radius: 10px;
}
/* #region responsive */
@media screen and (max-width: 1200px) {
    .col_2 {
        width: calc(100% / 12 * 2);
    }

    .col_10 {
        width: calc(100% / 12 * 10);
    }

    .col_12 {
        width: calc(100% / 12 * 12);
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .sidebar {
        padding-right: 5px;
    }

    .row {
        flex-wrap: wrap;
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .pt-30 {
        padding-top: 30px;
    }

    .player_volume {
        gap: 10px;
    }

    .album_options {
        padding: 0 0 0 20px;
    }

    .player_buttons i {
        font-size: 20px;
    }

    .album_options i,
    .player_volume i {
        font-size: 15px;
    }

    .time_bar {
        margin: 0 10px;
    }

    .player_time span {
        font-size: 10px;
    }
}

@media screen and (max-width: 639px) {
    .sidebar {
        padding: 0 0 0 10px;
    }
    
    .row {
        flex-wrap: wrap;
    }

    .col_s_3 {
        width: calc(100% / 12 * 3);
    }

    .col_s_6 {
        width: calc(100% / 12 * 6);
    }

    .col_s_9 {
        width: calc(100% / 12 * 9);
    }

    .album_options {
        justify-content: center;
        padding: 0 0 0 20px;
        flex-direction: column;
        gap: 0;
    }

    .control_middle {
        width: 30%;
    }
}

@media screen and (max-width: 552px) {
    .col_xs_1 {
        width: calc(100% / 12 * 1);
    }

    .col_xs_11 {
        width: calc(100% / 12 * 11);
    }

    .container_side_top {
        align-items: center;
        height: 100%;
    }

    .sidebar {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .logo_sm {
        display: inline-block;
        width: 25px;
        padding-top: 10px;
    }

    .logo, .house_btn,
    .lens_btn, .library_btn,
    .playlist {
        display: none;
    }

    .app_dl a,
    .user_name span {
        display: none;
    }

    .user_name {
        border: 0;
    }
}
/* #endregion responsive */