/* common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* color palette */
:root {
    --dark: #000000;
    --lightdark: #282828;
    --primarygrey: #7D7F84;
    --check: #ADFF2F;
    --lightprimary: #D2D2D2;
    --light: #FFFFFF;
}